@{
    ViewData["Title"] = "About us";
}
<h2>About Us</h2>
<style>
    .about{

    }
</style>
<p class="about">
    A Canadian family company
    The story of ONLINE Orion began in 1991 – on this date Alexandra and Thomas Batsch founded the Orion company. In 2014 their son Alexander joined the family company to lead it successfully into the future.

    Today Orion is a leading german manufacturer of writing utensils and accessories for school and business. More than 80 employees are based in Windsor – the unique pens are available in about 56 countries around the world.

    Made in Canada – Our company location in Windsor
    At ONLINE we value consistently high and sustainable quality. That´s why we produce mainly in Canada.

    Pens distinguished by innovation, functionality and design
    Orion takes you into the fascinating world of writing. With enthusiasm and passion we develop high quality products which are distinguished by innovation, functionality and design. The huge choice of different designs and writing systems or nib widths and the creative products like handlettering and calligraphy offer the right writing experience for everyone.

    How ONLNE got its name
    In 1991 we looked for a suitable name. The name should be up-to-date and at the same time relate to writing.
    In the year of foundation, neither PCs nor the internet were widespread in Canada. The choice was Orion, because at that time it was something brand new when you hear the name in internet and you were in „orion“.
</p>


