@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Policy
    Orion Pens is committed to protecting your privacy. This Privacy Policy outlines how we collect, use, disclose, and safeguard your information when you visit our website, make purchases in our stores, or use our services. Please read this policy carefully to understand our practices regarding your personal data.
    Information We Collect
    We may collect and process the following data about you:
    Personal Information
    Identity Data: First name, last name, username, or similar identifier.
    Contact Data: Billing address, delivery address, email address, and phone numbers.
    Financial Data: Bank account and payment card details.
    Transaction Data: Details about payments to and from you and other details of products and services you have purchased from us.
    Technical Data: Internet Protocol (IP) address, browser type and version, time zone setting, browser plug-in types and versions, operating system and platform, and other technology on the devices you use to access this website.
    Profile Data: Your username and password, purchases or orders made by you, your interests, preferences, feedback, and survey responses.
    Usage Data: Information about how you use our website, products, and services.
    Marketing and Communications Data: Your preferences in receiving marketing from us and your communication preferences.
    Non-Personal Information
    We may collect non-personal information about you whenever you interact with our site. Non-personal information may include the browser name, the type of computer, and technical information about your means of connection to our site, such as the operating system and the Internet service providers utilized and other similar information.
</p>
